<%= simple_form_for @user do |f| %>
    <div class="form-inputs" >
      <%= f.label "RSFI ID: "%>
      <%= f.text_field :rsfi_id, type: :text, value: @user.rsfi_id, class: 'form-control'%>

      <%= f.label "Full Name: "%>
      <%= f.text_field :full_name, value: @user.id, class: 'form-control' %>

      <%= f.label "DOB: "%>
      <%= f.date_field :dob, value: @user.dob, class: 'form-control' %>

      <%= f.label "Gender: "%>
      <%= f.text_field :gender, value: @user.gender, class: 'form-control' %>

      <%= f.label "Mobile: "%>
      <%= f.text_field :phone, value: @user.phone, class: 'form-control' %>

      <%= f.label "Email: "%>
      <%= f.text_field :email, value: @user.email, class: 'form-control' %>

      <%= f.label "Address: "%>
      <%= f.text_area :address, value: @user.address, class: 'form-control' %>

      <div class="dropdown">
        <%= f.label "District: "%>
        <%= f.collection_select :district, DISTRICTS,:first,:last %>
      </div>

      <%= f.label "Pincode: "%>
      <%= f.text_field :pin_code, value: @user.pin_code, class: 'form-control' %>

      <div class="dropdown">
        <%= f.label "Occupation: "%>
        <%= f.collection_select :occupation, OCCUPATION,:first,:last %>
      </div>
    </div>

    <div class="form-inputs" >
        <%= f.button :submit, 'Submit', class: 'btn btn-primary' %>
    </div>
<% end %>
