<%= form_with(model: registration, local: true) do |form| %>
    <div class="field">
      <%= form.label :competition_id %>
      <%= form.text_field :competition_id %>
    </div>

    <div class="field">
      <%= form.label :user_details_id %>
      <%= form.text_field :user_details_id %>
    </div>

    <div class="field">
      <%= form.label :events %>
      <%= form.text_field :events %>
    </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
