<!DOCTYPE html>
<html>

<head>
  <title>Evento</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://harvesthq.github.io/chosen/chosen.css" />
  <link rel="stylesheet" href="/../index.css" />



</head>

<body>
  <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
  <% end %>

  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container"><a href="/" class="navbar-brand">Home</a>
      <!-- <div class="d-flex ml-auto">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#globalNavbar" aria-controls="globalNavbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="globalNavbar">
              
              <ul class="navbar-nav mr-auto order-1">
                
                <li class="nav-item"></li>
                                  <li class="nav-item"></li>
              </ul> -->
      <ul class="navbar-nav d-none d-lg-flex ml-2 order-3">
        <% if user_signed_in? %>
        <li class="nav-item"><%= link_to 'Edit Profile', edit_user_path(current_user.id), :class => 'nav-link' %> </li>
        <li class="nav-item"><%= link_to 'Change Password', edit_user_registration_path, :class => 'nav-link' %> </li>
        <li class="nav-item"><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'nav-link'  %>
        </li>
        <% else %>
        <li class="nav-item"><%= link_to "Sign up", new_user_registration_path, :class => 'nav-link'  %></li>
        <li class="nav-item"><%= link_to "Login", new_user_session_path, :class => 'nav-link'  %></li>
        <% end %>
      </ul>

    </div>
    </div>
  </nav>



  <%= yield %>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
  <script src="https://harvesthq.github.io/chosen/chosen.jquery.js"></script>

  <script>
  debugger
    $('select').chosen();
  </script>
  
</body>

</html>